body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

.status-red {
  background-color: rgba(244, 67, 54, 0.5); /* Red with 80% opacity */
}

.status-orange {
  background-color: rgba(255, 152, 0, 0.5); /* Orange with 80% opacity */
}

.status-green {
  background-color: rgba(76, 175, 80, 0.5); /* Green with 80% opacity */
}

.offline {
  background-color: rgba(158, 158, 158, 0.8); /* Gray with 80% opacity */
}
