.percentage-bar-container {
  width: 30px;
  height: 120px;
  background-color: #ccc;
  position: relative;
}

.percentage-bar-filled {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.ideal-percentage-bar-filled {
  width: 100%;
  background-color: rgba(76, 175, 80, 0.2); /* Green with 80% opacity */

  position: absolute;
}
